# License agreement
eula --agreed

# Install from the first CD-ROM/DVD drive on the system.
cdrom
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream

# Use network installation 
# url --url="http://mirror.centos.org/centos/8-stream/BaseOS/x86_64/os/"
# repo --name="AppStream" --baseurl="http://mirror.centos.org/centos/8-stream/AppStream/x86_64/os/"

# Use text mode install
text

# Disable Initial Setup on first boot
firstboot --disable

# Keyboard layout
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
network --bootproto=dhcp --device=link --activate
network --hostname=custom-c8s.localdomain

# Root password
rootpw vagrant

# SELinux configuration
selinux --enforcing

# Do not configure the X Window System
skipx

# System timezone
timezone Asia/Kuala_Lumpur --isUtc

# Set the authentication options for the system
authselect --passalgo=sha512 --useshadow

# Add a user named vagrant
user --groups=wheel --name=vagrant --password=vagrant --plaintext --gecos="vagrant"

# System bootloader configuration
bootloader --location=mbr --append="crashkernel=auto"

# Clear the Master Boot Record
zerombr

# Remove partitions
clearpart --all --initlabel

# Automatically create partitions using LVM
autopart --type=lvm

# Reboot after successful installation
reboot

%packages --ignoremissing
# dnf group info minimal-environment
@^minimal-environment

# Exclude unnecessary firmwares
-iwl*firmware
%end

%post --nochroot --logfile=/mnt/sysimage/root/ks-post.log
# Disable quiet boot and splash screen
sed --follow-symlinks -i "s/ rhgb quiet//" /mnt/sysimage/etc/default/grub
sed --follow-symlinks -i "s/ rhgb quiet//" /mnt/sysimage/boot/grub2/grubenv

# Passwordless sudo for the user 'vagrant'
echo "vagrant ALL=(ALL) NOPASSWD: ALL" >> /mnt/sysimage/etc/sudoers.d/vagrant
%end